{% extends "base.html" %}

<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}

    {% block app_content %}
        <!-- ########## -->

        <h1>Developers Guide & Tutorial</h1>
        <br>
        <h3>CAPTCHA Module Tutorial</h3>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>First, use GET method query uri '/api/hash-match/captcha' to get a hash-CAPTCHA pair.</h4>
                    <h4>(P.S. the hash-CAPTCHA pair is maintained in Response.Headers.CAPTCHA and Response.Headers.Hash-Code)</h4>
                    <br>
                    <h4>Then, using the hash code you've been given query uri '/api/hash-match/captcha/< hash_code >', you
                     will get an CAPTCHA image with the CAPTCHA code you already have.</h4>
                    <br>
                    <h4>Finally, DO NOT forget to remove the expired hash-CAPTCHA pair by using '/api/captcha/hash-code/< seconds-passed >'
                     with DELETE method.</h4>
                </div>
                <div class="panel-footer">
                    <b>Leon Tian</b> at 2019-09-19 17:00:00
                    <p>Thanks for using my CAPTCHA module.</p>
                </div>
            </div>
        </div>

        <h3>API usage details</h3>
        <br>

        <!-- 已发表的言论 -->
        {% if usage_infos %}
            {% for usage_info in usage_infos %}
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>API format:    {{ usage_info.api_format }}</h4>
                    </div>
                    <div class="panel-footer">
                        <b>Warning:   </b> {{ usage_info.Warning }}
                    </div>
                    <div class="panel-footer">
                        <b>Method:   </b> {{ usage_info.method }}
                    </div>
                    <div class="panel-footer">
                        <b>Description:   </b> {{ usage_info.description }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="container">
                <div class="panel panel-default">
                    <!--<div class="panel-heading">-->
                        <!--<b>Administer</b> said:-->
                    <!--</div>-->
                    <div class="panel-body">
                        <h4>No more usage informations currently.</h4>
                    </div>
                    <div class="panel-footer">
                        <b>Administer</b> at 2019-04-20/17:00:00
                    </div>
                </div>
            </div>
        {% endif %}

    {% endblock %}
